@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply text-gray-300;
  @apply bg-customgreys-primarybg;
}

:root {
  --radius: 8px;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}

@layer base {
  :root {
    --sidebar-background: theme("colors.customgreys.primarybg");
    --sidebar-foreground: theme("colors.white.50");
    --sidebar-primary: theme("colors.primary.700");
    --sidebar-primary-foreground: theme("colors.white.50");
    --sidebar-accent: theme("colors.customgreys.darkerGrey");
    --sidebar-accent-foreground: theme("colors.customgreys.dirtyGrey");
    --sidebar-border: theme("colors.customgreys.secondarybg");
    --sidebar-ring: theme("colors.primary.700");
    --popover: theme("colors.customgreys.primarybg");
    --popover-foreground: theme("colors.white.50");

    --background: theme("colors.customgreys.primarybg");
    --foreground: theme("colors.white.50");

    --primary: theme("colors.primary.700");
    --primary-foreground: theme("colors.white.50");

    --muted: theme("colors.primary.600");
    --muted-foreground: theme("colors.customgreys.dirtyGrey");

    --accent: theme("colors.primary.600");
    --accent-foreground: theme("colors.white.50");

    --border: theme("colors.customgreys.secondarybg");
    --ring: theme("colors.primary.700");

    --card: theme("colors.customgreys.primarybg");
    --card-foreground: theme("colors.white.50");
  }

  .dark {
    --sidebar-background: theme("colors.customgreys.primarybg");
    --sidebar-foreground: theme("colors.white.50");
    --sidebar-primary: theme("colors.primary.700");
    --sidebar-primary-foreground: theme("colors.white.50");
    --sidebar-accent: theme("colors.customgreys.darkerGrey");
    --sidebar-accent-foreground: theme("colors.customgreys.dirtyGrey");
    --sidebar-border: theme("colors.customgreys.secondarybg");
    --sidebar-ring: theme("colors.primary.700");
    --popover: theme("colors.customgreys.primarybg");
    --popover-foreground: theme("colors.white.50");

    --background: theme("colors.customgreys.primarybg");
    --foreground: theme("colors.white.50");

    --primary: theme("colors.primary.700");
    --primary-foreground: theme("colors.white.50");

    --muted: theme("colors.primary.600");
    --muted-foreground: theme("colors.customgreys.dirtyGrey");

    --accent: theme("colors.primary.600");
    --accent-foreground: theme("colors.white.50");

    --border: theme("colors.customgreys.secondarybg");
    --ring: theme("colors.primary.700");

    --card: theme("colors.customgreys.primarybg");
    --card-foreground: theme("colors.white.50");
  }
}

/* NonDashboard Navbar */

.nondashboard-navbar {
  @apply w-full flex justify-center bg-customgreys-primarybg;
}

.nondashboard-navbar__container {
  @apply flex justify-between items-center w-3/4 py-8;
}

.nondashboard-navbar__search {
  @apply flex justify-between items-center gap-14;
}

.nondashboard-navbar__brand {
  @apply font-bold text-lg sm:text-xl hover:text-customgreys-dirtyGrey;
}

.nondashboard-navbar__search-input {
  @apply bg-customgreys-secondarybg pl-10 sm:pl-14 pr-6 sm:pr-20 py-3 sm:py-4 rounded-xl text-customgreys-dirtyGrey hover:text-white-50 hover:bg-customgreys-darkerGrey transition-all duration-300 text-sm sm:text-base;
}

.nondashboard-navbar__search-icon {
  @apply absolute left-3 sm:left-5 top-1/2 transform -translate-y-1/2 text-customgreys-dirtyGrey transition-all duration-300;
}

.nondashboard-navbar__actions {
  @apply flex items-center gap-2 sm:gap-4;
}

.nondashboard-navbar__notification-button {
  @apply relative w-7 h-7 sm:w-8 sm:h-8 bg-gray-800 rounded-full flex items-center justify-center;
}

.nondashboard-navbar__notification-indicator {
  @apply absolute top-0 right-0 bg-blue-500 h-1.5 sm:h-2 w-1.5 sm:w-2 rounded-full;
}

.nondashboard-navbar__notification-icon {
  @apply text-gray-400 w-4 h-4 sm:w-5 sm:h-5;
}
